<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new Attendant</title>
</head>
<body>
    <h2>New Attendant</h2>
    <form action="#" th:action="@{/addAttendant}" th:object="${attendant}" method="post">
        <input type="text" th:field="*{name}" id="name" placeholder="Insert name here">
        <input type="email" th:field="*{email}" id="email" placeholder="Insert e-mail here">
        <input type="submit" value="Add a New Attendant!">
    </form>
</body>
</html>